@page "/"

<h1>Play Conway's Game Of Life</h1>

<p>
    Create a pattern on a 2-dimensional board, then iteratively apply the game rules.
    See below for rules.
</p>

<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Wikipedia entry for Conway's Game of Life</a>



